@import url("https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap");
*{
    font-family: "Momo Signature", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    background: #eee;
    color: #222;
    margin: 0 auto;
    width: 768px;
}

a {
    color: #222;
    text-decoration: none;
}