.create-post-container {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f2f2f2;
}

.create-post-form {
  width: 600px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: white;
  padding: 40px;
  border-radius: 12px;
}

.create-post-form input,
.create-post-form textarea {
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.create-post-form textarea {
  height: 200px;
  resize: none;
}

.create-post-form button {
  padding: 14px;
  border: none;
  background-color: #0b3a1d;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.access-denied {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
}